
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>测试实例</title>
    <script type='text/javascript'>
</script>
</head>

<body>


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" xmlns:th="http://www.w3.org/1999/xhtml">

    <h2 align="center">
        <p th:utext="${title}"> </p>
        <p><a th:utext="${sourceWeb}" th:href="${sourceWeb}"> </a> </p>
        <a th:if="${lastChap}" th:href="@{${lastChap}}">上一页</a>
        　　　　　　　　　
        <a th:if="${nextChap}" th:href="@{${nextChap}}">下一页</a>
        　　
        <a th:if="${jumpChap}" th:href="@{${jumpChap}}">下五页</a>
    </h2>

    <div style="font-family: Avenir Next;font-size: 12.5pt;letter-spacing: 0.1em;line-height: 1.8;padding-top: 15px;text-align: justify;width: 750px;margin: auto" th:utext="${content}">输入文章ID</div>

    <h2 align="center">
        <a th:if="${lastChap}" th:href="@{${lastChap}}">上一页</a>
        　　　　　　　　　　　
        <a th:if="${nextChap}" th:href="@{${nextChap}}">下一页</a>
        　　
        <a th:if="${jumpChap}" th:href="@{${jumpChap}}">下五页</a>
        <br>
        <a th:href="@{/hnovel/show}">返回</a>
    </h2>



</main>
<br><br>大约二万字一页
</body>
</html>